@base-color: #212121;
@light-color: #efefef;
@primary-color: #e31c25;
@wid: 210px;

@shadow: 11px 3px 9px rgba(0, 0, 0, 0.42);

.shadowed {
    box-shadow: @shadow;
}
.dark-bg {
    background: @base-color;
}
.section-title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 72px 0 24px 0;
}

section.defined {
    padding-top: 64px;
}

#skills, #tools {
	.row {
		position: relative;
		.card {
			text-align: center;
			padding: 36px;
			.image {
				height: 100px;
				width: 100px;
				display: flex;
				align-items: center;
				margin-bottom: 11px;
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
			.sho {
				font-size: 18px;
				width: 100px;
			}
			.hover-card {
				white-space: normal;
				width: 360px;
			}
            &:hover .hover-card, &:focus .hover-card {
                top: 81%;
                opacity: 1;
				z-index: 2;
            }
		}
	}
}
#about {
	.row {
		justify-content: center;
		.card {
			width: 420px;
			max-width: calc(100% - 30px);
			margin: 30px 15px;
			text-align: justify;
			font-size: 19px;
			
			font-family: lemonada, sans-serif;
		}
	}
}
#projects {
    .row {
        .card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 30px;
            width: @wid + 60px;
            img {
                max-width:@wid;
                max-height: @wid;
                flex: 100%;
            }
            span {
                flex: 100%;
                text-align: center;
                padding: 1em;
                width: @wid;
                text-transform: uppercase;
                font-weight: 500; 
            }
        }
    }
}

#contact {
    .row {
        .card {
            .shadowed();
            height: 100px;
            width: 100px;
            margin: 16px;
            border-radius: 50%;
            justify-content:center;
            align-items: center;
            display: flex;
            position: relative;
            z-index: 1;

            background: @light-color;

            i {
                font-size:48px;
            }
			.hover-card {
				width: auto;
				white-space: nowrap;
			}
            &:hover .hover-card {
                top: 81%;
                opacity: 1;
            }
        }
		.card {
			&#linked-in, &#github, &#gmail {
				background:@light-color;
			}
			&#linked-in {
				color: #0077B5;
			}
			&#github {
				color: #333;
			}
			&#gmail {
				color: #d44638;
			}
		}
		.card:hover {
			&#linked-in, &#github, &#gmail {
				color:@light-color;
			}
			&#linked-in {
				background: #0077B5;
			}
			&#github {
				background: #333;
			}
			&#gmail {
				background: #d44638;
			}
		}		
    }
}

#feedback {
    width: 100%;
    form {
        margin: 0 auto;
        width: 330px;
        * {
            width: 330px;
            display: block;
            margin: 1em auto;
            background: @base-color;
            color: @light-color;
            border: 3px solid @primary-color;
            padding: 0.3em;
            font-size : 16px;
        }

        #send {
            width: auto;
            color: @base-color;
            background: @primary-color;
            padding: 0.3em 1em;
        }
    }
}

