@base-color: #212121;
@light-color: #efefef;
@primary-color: #e31c25;
@wid: 210px;

@shadow: 11px 3px 9px rgba(0, 0, 0, 0.42);
.shadowed {
    box-shadow: @shadow;
}
.dark-bg {
    background: @base-color;
}
.hover-card {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    background: @base-color;
    color: @light-color;
	pointer-events: none;
    opacity: 0;
    padding: 1em;
    .shadowed();
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

*:focus {
    outline: @primary-color solid 1px;
}

body {
    .dark-bg();
    color: @light-color;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
	overflow-x: hidden;
}

a {
    color: @light-color;
    text-decoration: none;
}

header {
    .shadowed();
    .dark-bg();
    z-index: 2;
    text-transform: uppercase;
    padding: 1.5em;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: fit-content;

    .row {
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        a#logo {
            display:flex;
            padding: 0.3em;
            img {
                height: 1.5em;
            }
        }
        #menu-toggler {
            background: @primary-color;
            color: @base-color;
            padding: 0.5em;
            border-radius: 0.2em;
            display: none;
            cursor: pointer;

            &:hover {
                .shadowed();
            }
        }
        nav {
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        padding:0.5em;
                        border-radius: 0.2em;
                        &:hover {
                            color: @primary-color;
                        }
                        &.active {
                            color: @base-color;
                            background: @primary-color;
                        }
                    }
                }
            }
        }

    }
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height: 100vh;
    overflow: auto;
    input {
        display: none;
    }
    .card {
        .shadowed();
        .dark-bg();
        text-align: center;
        padding: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;

        text-transform: uppercase;
        z-index: 3;
        #dp {
            img {
                border: 0.7rem solid @primary-color;
                border-radius: 50%;
                max-width: 330px;
                width: 93%;
                .shadowed();
            }
            img:hover {
                border-width: 0;
            }
        }
        #name-card {
            padding-top:1.8rem;
        }
    }
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 1200px) {
    #sidebar {
        width: 360px;
    }
    #content, header {
        margin-left: 360px;
    }
    header {
        width: calc(100% - 360px);
    }
}

@media only screen and (min-width: 768px) and (max-width:1200px) {
    header {
        z-index: 2;
    }
    #sidebar {
		width: 0;
        @switch-width: 48px;
        z-index: 3;
        overflow: unset;
        input {
            z-index: 6;
            display: block;
            position: absolute;
            top: 210px;
            right: calc( -360px - @switch-width );

            width: @switch-width;
            height: @switch-width;

            opacity: 0;

            &~span {
                .shadowed();

                z-index: 5;
                background: @primary-color;

                position: absolute;
                right: calc( -360px - @switch-width );
                top: 210px;

                width: @switch-width;
                height: @switch-width;

                &:before, &:after {
                    content: '';

                    height:4px;
                    width:32px;

                    position: absolute;

                    background: @light-color;
                    top: 50%;
                    left: 50%;
                }
                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                &:before {
                    transform: translate(-50%, -50%) rotate(45deg)
                }
            }
        }
		input:checked {
            & {
                transform: translateX(-360px);
            }
			&~.card {
				transform: translateX(-360px);
        	}

			
			&~span {
				background: @base-color;
				transform: translateX(-360px);
				&:before, &:after {
					background: @primary-color;
					width: @switch-width*0.6;
				}
				&:before {
					transform: translate(-50%, calc(-50% - @switch-width/6)) rotate(0);
				}
				&:after {
					transform: translate(-50%, calc(-50% + @switch-width/6)) rotate(0);
				}
			}
		}
        .card {
            width: 360px;
			z-index: 3;
        }
    }
}

@media only screen and (max-width: 767px) {
    header {
        z-index: 3;
        .row {
            #menu-toggler {
                display: inline-block;
            }
            nav {
                display: none;
            }
        }
    }
    #menu {
        flex: 100%;
        max-height: 99vh;
        padding-top: 2em;
        display: block;
        overflow: hidden;
        li {
            display: block;
            text-align: center;
            a {
                width:100%;
                border-radius: 0;
            }
        }
    }

    #menu.collapsed {
        z-index: 3;
        max-height: 0;
        padding: 0;
    }
    #sidebar {
        position: static;
        min-height: 100vh;
        width:100%;
        .card {
            position: static;
            min-height: 100vh;
			z-index: 2;
            width: 100%;
        }
    }
    #content {
        margin: 0;
    }

}
