extends /pug/bases/header.pug

block headelms
	link(href="https://fonts.googleapis.com/css?family=Lemonada&display=swap", rel="stylesheet")
	link(href="/styles/home.css", rel="stylesheet")
block content
		#content
			section#about.defined
				.section-title about
				.row
					.card Hey there! I am Abhay, self motivated-learner, humble scientist and developer. I belive greater good can only be achieved if we work together as a team.
					.card I am a sophomore in B.Tech. Materials Science and Engg. at NIT Hamirpur, Himachal Pradesh, India. Physics, Mathematics, Chemistry and Computers are my key areas of interest.
					.card I abide by ideology of open source and I am humbled it's effects and learning outcomes and opportunities it provided me.
			section#skills.defined
				.section-title Skills
				.row
					-
						var plangs = [
							{
								"src":"/resources/logos/cpp.svg",
								"alt":"C++ logo",
								"url":"https://en.wikipedia.org/wiki/C%2B%2B",
								"sho":"Modern C++",
								"dsc":"Metallic, high level language with every feature desirable, secure and reliable. It's easy to do the right thing but hard to do the wrong. Plus wonderful community."
							},
							{
								"src":"/resources/logos/python.svg",
								"alt":"python logo",
								"url":"https://www.python.org/",
								"sho":"Python 3",
								"dsc":"General purpose scipting language, weakly typed but the goto choice for automation, prototyping language, the laguage I would trust like a leap of faith."
							},
							{
								"src":"/resources/logos/js.svg",
								"alt":"javascript logo",
								"url":"https://developer.mozilla.org/en-US/docs/Web/JavaScript",
								"sho":"JavaScript",
								"dsc":"Language of the web, diffrent than other two but useful if right tools are used. Making dead pages alive since 1995."
							},
						]
					each plang in plangs
						a.card(href=plang.url target="_blank")
							.image
								img(src=plang.src alt=plang.alt)
							.sho #{plang.sho}
							.hover-card #{plang.dsc}
				.row
					-
						var marks = [
							{
								"src":"/resources/logos/HTML5.svg",
								"alt":"HTML5 logo",
								"url":"https://developer.mozilla.org/en-US/docs/Web/HTML",
								"sho":"HTML5",
								"dsc":"Markup language powering the web, was made to support porability in an era where computers were as diverse as psuedo random numbers."
							},
							{
								"src":"/resources/logos/md.svg",
								"alt":"markdown logo",
								"url":"https://en.wikipedia.org/wiki/Markdown",
								"sho":"MarkDown",
								"dsc":"Pun intended, designed to work with plain text to ensure portability, easy syntax. When you want your pages to look good not \"fancy\". Goto for documentation"
							},
							{
								"src":"/resources/logos/pug.png",
								"alt":"pug.js logo",
								"url":"https://pugjs.org",
								"sho":"pug",
								"dsc":"Pug is an HTML5 preprocessing toolchain that uses css selectors and indentation, It renders html by easing the part of typing it, and thus is fun and I use it instead of HTML whenever possible"
							},
						]
					each mark in marks
						a.card(href=mark.url target="_blank")
							.image
								img(src=mark.src alt=mark.alt)
							.sho #{mark.sho}
							.hover-card #{mark.dsc}

				.row
					-
						var sheets = [
							{
								"src":"/resources/logos/css3.svg",
								"alt":"css3 logo",
								"url":"https://developer.mozilla.org/en/docs/Web/CSS/CSS3",
								"sho":"CSS3",
								"dsc":"Making web pages beautiful so that they don't look like a book without colors, it gives candy crush with eye candy"
							},
							{
								"src":"/resources/logos/less.svg",
								"alt":"less logo",
								"url":"http://lesscss.org/",
								"sho":"LESS",
								"dsc":"CSS preprocessor was born to ease developers work, providing features like variables, inheritance and logical relations. Renders exact CSS nothing more needed."
							},
							{
								"src":"/resources/logos/sass.svg",
								"alt":"sass logo",
								"url":"https://sass-lang.com",
								"sho":"SASS",
								"dsc":"Like less but not my personal favourite, as I learned less earlier"
							},
						]
					each sheet in sheets
						a.card(href=sheet.url target="_blank")
							.image
								img(src=sheet.src alt=sheet.alt)
							.sho #{sheet.sho}
							.hover-card #{sheet.dsc}

			section#tools.defined
				.section-title tools
				.row
					-
						var tools = [
							{
								"src":"/resources/logos/manjaro.svg",
								"alt":"Manjaro Linux logo",
								"url":"https://manjaro.org",
								"sho":"Manjaro Linux",
								"dsc":"Bleeding edge technology but not at cost of stability. True Freedom. Package managers, and terminal &#10084;. The best a man can get. and woman."
							},
							{
								"src":"/resources/logos/vim.svg",
								"alt":"vim logo",
								"url":"http://vim.org/",
								"sho":"Vim",
								"dsc":"Modal text-editor, runs on terminal&#10084;, with plethora of plugins, light on resouces, logical editing, makes writing code as much fun as programming. Learning it was a massive powerup for me."
							},
							{
								"src":"/resources/logos/inkscape.svg",
								"alt":"inkscape logo",
								"url":"https://inkscape.org",
								"sho":"Inkscape",
								"dsc":"SVG editor, open source, efficient, fun, easy, logical. Produces stunning images. I use is for graphic designing and batch processing."
							},
						]
					each tool in tools
						a.card(href=tool.url target="_blank")
							.image
								img(src=tool.src alt=tool.alt)
							.sho #{tool.sho}
							.hover-card!= tool.dsc


			section#projects.defined
				.section-title Projects
				.row
					a.card(href='/pages/coming_soon.html')
						img(src='resources/images/earth.png')
						span web & software
					a.card.project(href='/pages/coming_soon.html')
						img(src='resources/images/atom.png')
						span Science
					a.card.project(href='/pages/coming_soon.html')
						img(src='resources/images/aperture.png')
						span Graphics & designing
				.row
					a.card(href='/pages/coming_soon.html')
						img(src='resources/images/rotary_engine.png')
						span Engineering
					a.card(href='/pages/coming_soon.html')
						img(src='resources/images/terminal.png')
						span Console
					a.card(href='/pages/coming_soon.html')
						img(src='resources/images/brain.png')
						span Teaching
			section#contact.defined
				.section-title
					| contact
				.row
					a#linked-in.card(href='https://linkedin.com/in/rathod-sahaab', target='_blank')
						i.fab.fa-linkedin-in
						.hover-card rathod-sahaab
					a#github.card(href='https://github.com/Rathod-Sahaab', target='_blank')
						i.fab.fa-github
						.hover-card Rathod-Sahaab
					a#gmail.card(href='mailto:abhayonlyone@gmail.com', target='_blank')
						i.fas.fa-envelope
						.hover-card abhayonlyone@gmail.com
			section#feedback.defined
				.section-title
					| Feedback
				form(action='https://formspree.io/abhayonlyone@gmail.com', method='POST')
					input(type='text', name='NAME :', placeholder='Your Good Name...')
					input(type='email', name='E-mail address:', placeholder='Your email address...', pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*")
					textarea#feedback-area(name='feedback', placeholder='Your feeback...', rows='7', required='')
					input#send(type='submit', value='SEND')
		script(src='scripts/animations.js')
